<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
Reset confermato - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
<div class="col-10 shadow-lg white-bg p-4">

  <div class="row border border-secondary rounded p-3 m-3 pt-4 shadow-lg">
    <h2>Conferma Reset Password</h2>
    <p>Inserisci la tua nuova password di seguito:</p>
    <div class="col-8">
      <form method="post">
        {% csrf_token %}
        <!-- Campi per la nuova password e la sua conferma -->
        <div class="row pb-5 pt-2">
          <input type="password" name="new_password1" id="id_new_password1" placeholder="Nuova password" required />
        </div>
        <div class="row pb-3">
          <input type="password" name="new_password2" id="id_new_password2" placeholder="Conferma nuova password" required />
        </div>
        <!-- Messaggio di errore per la conferma password -->
        <p class="error-message" id="password-mismatch-error" style="display: none;">Le due password non corrispondono.</p>
        <!-- Aggiungi eventuali altri campi o componenti del form -->
        <br />
        <div class="row text-center">
          <button type="submit" onclick="return validatePassword()" class="btn btn-primary">
            <svg class="icon icon-sm icon-white" aria-hidden="true">
              <use href="{% static 'svg/sprites.svg' %}#it-check"></use>
            </svg>Salva nuova password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function validatePassword() {
    var password1 = document.getElementById('id_new_password1').value
    var password2 = document.getElementById('id_new_password2').value
    var errorElement = document.getElementById('password-mismatch-error')

    if (password1 !== password2) {
      errorElement.style.display = 'block'
      return false
    } else {
      errorElement.style.display = 'none'
      return true
    }
  }
</script>
{% endblock %}
