<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
Conferma invio link per reset Password - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}

<div class="col-10 shadow-lg white-bg p-4">
  <div>
    <div class="row border border-secondary rounded p-3 m-3 pt-4 shadow-lg">
      <h3>Conferma invio link per reset Password</h3>
      <p>È stata inviata un'email all'indirizzo fornito con le istruzioni per reimpostare la password.</p>
      <p>Per favore, controlla la tua casella di posta elettronica.</p>
    </div>
  </div>
</div>
{% endblock %}