<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - OpenMSP - Multi Services Portal</title>
</head>
<body>
    <p>Hai richiesto la reimpostazione della password per il tuo account su OpenMSP</p>
    <p>Fare clic sul seguente link per reimpostare la password:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reimposta la password</a></p>
    <hr>
    <p>Servizio supporto OpenCED MultiServices Portal</p>
</body>
</html>

