<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
Change form - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
{% if user.is_authenticated %}
<div class="col-10 shadow-lg white-bg p-4">

  <h2>Cambia password</h2>

   <div class="row border border-secondary rounded p-3 m-3 pt-4 shadow-lg">
    <form method="post" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row">{{ form.as_p }}</div>
      <br />
      <div class="row">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <svg class="icon icon-sm icon-white" aria-hidden="true">
              <use href="{% static 'svg/sprites.svg' %}#it-exchange-circle"></use>
            </svg>Cambia password
          </button>
          <a href="{% url 'home' %}" class="btn btn-danger">Annulla</a>
        </div>
      </div>
    </form>
  </div>

</div>
{% endif %}
{% endblock %}
