<!-- templates/registration/signup.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
Conferma nuova Password - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
<div class="col-10 shadow-lg white-bg p-4">

    <div class="row border border-secondary rounded p-3 m-3 pt-4 shadow-lg">
        <h3>Reset password completato con successo</h3>
        <div>
            <p>La tua password è stata reimpostata con successo.</p><p>Ora puoi accedere utilizzando la tua nuova password.</p>
            <a href="{% url 'login' %}" class="btn btn-primary">Accedi</a>
        </div>
    </div>
</div>
{% endblock %}