<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
Conferma modifica password - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
{% if user.is_authenticated %}
<div class="col-10 shadow-lg white-bg p-4">

  <h3>Cambio password completato correttamente</h3>
  <br />
  <div class="row">
    <p>La tua password è stata cambiata con successo.</p>
    <br />
    <a href="{% url 'home' %}" class="btn btn-primary text-center">Torna alla Home</a>
  </div>
  <br />
</div>
{% endif %}
{% endblock %}
