<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
Change form - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
<div class="col-8 shadow-lg white-bg p-4">

  <h2>Cambia password</h2>

  <div class="row border border-secondary rounded p-3 m-3 pt-4 shadow-lg">
    <form method="post" action="">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <p>Inserisci il tuo indirizzo di posta elettronica con il quale ti sei registrato.</p>
      <p>Ti manderemo il link per reimpostare la password.</p>
      <div class="row">
        <div class="form-group col-6">
          <label for="id_email">Email</label>
          <input type="email" name="email" class="form-control" id="id_email" required>
        </div>
      </div>
      <div class="row ">
        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">
            <svg class="icon icon-sm icon-white" aria-hidden="true">
              <use href="{% static 'svg/sprites.svg' %}#it-exchange-circle"></use>
            </svg>Reimposta password
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
