<!-- templates/base.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
ANIST Frequenze primarie e secondarie Singola - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
<h3>ANIST - Anagrafe nazionale istruzione di primo e secondo grado</h3>
<h4>Ricerca frequenze primarie e secondarie singolo soggetto</h4>

<br />
{% if user.is_authenticated %}
{% if utente_abilitato %}
<div class="col-8 shadow-lg white-bg p-4">
  <div class="row border border-secondary rounded p-3 m-3 pt-4 shadow-lg">
    <form class="needs-validation" id="anist_frequenza_singola" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="input_CF">Inserisci il Codice Fiscale</label>
        <input type="text" class="form-control" id="input_CF" name="input_CF" maxlength="16" oninput="this.value = this.value.toUpperCase();" required />
      </div>
      <div>
        <button class="btn btn-primary" type="submit">
          <svg class="icon icon-sm icon-white" aria-hidden="true">
            <use href="{% static 'svg/sprites.svg' %}#it-search"></use>
          </svg>Avvia ricerca
        </button>
      </div>
    </form>
    <div class="row">
      <div aria-live="polite" id="errorMsgContainer"></div>
    </div>
  </div>
</div>
<br />
{% if data %}
<div class="col-6 mb-4">
  <article class="it-card it-card-image it-card-height-full rounded shadow-lg border">
    {% if 'Codice fiscale non corretto' in data.1 %}
    {% with parts=data.1.split %}
    <h5 class="it-card-title it-card-title-icon">Iscrizioni di {{ parts.0 }}</h5>
    {% endwith %}
    {% else %}
    <h5 class="it-card-title it-card-title-icon">Iscrizioni di {{ data.0 }}</h5>
    {% endif %}
    {% if data.1.frequentante == False or 'Codice fiscale non corretto' in data.1 or 'Errore di comunicazione con la API' in data.1 %}
    <div class="it-card-image-wrapper bg-danger p-3" style="--bs-bg-opacity: .75;">
      {% else %}
      <div class="it-card-image-wrapper bg-success p-3" style="--bs-bg-opacity: .75;">
        {% endif %}
      </div>
      <div class="it-card-body">
        {% if 'Codice fiscale non corretto' in data.1 %}
        {% with parts=data.1.split %}
        <p class="it-card-subtitle">
          <b>Codice fiscale non corretto</b>
        </p>
        {% endwith %}
        {% elif 'Errore di comunicazione con la API' in data.1 %}
        <p class="it-card-subtitle">
          <b>Errore di comunicazione con la API</b>
        </p>
        {% elif data.1.frequentante == False %}
        <p class="it-card-subtitle">
          <b>La richiesta effettuata non produce alcun risultato</b>
        </p>
        {% else %}
        <p class="it-card-text">
          Istituto principale: <b>{{ data.1.denoIstitutoPrincipale }} (cod. {{ data.1.codiceIstitutoPrincipale }})</b><br />
          Plesso: <b>{{ data.1.denominazionePlesso }} (cod. {{ data.1.codiceMeccanografico }})</b><br />
          Tipologia corso: <b>{{ data.1.percorsoStudi }}</b><br />
          Anno corso: <b>{{ data.1.annoCorso }}</b><br />
          Esito frequenza: <b>
            {% if data.1.esitoFrequenza == 1 %}
              Frequentante
            {% elif data.1.esitoFrequenza == 2 %}
              Non Frequentante
            {% elif data.1.esitoFrequenza == 3 %}
              Frequentante su altro anno corso
            {% elif data.1.esitoFrequenza == 4 %}
              Non più Frequentante
            {% else %}
              {{ data.1.esitoFrequenza }}
            {% endif %}
          </b>
        </p>
        {% endif %}
      </div>
    </article>
  </div>

  <br />
  <div class="row">
    <div class="col-6 mb-4">
      <button id="printButton" class="btn btn-secondary">
        <svg class="icon icon-sm icon-white" aria-hidden="true">
          <use href="{% static 'svg/sprites.svg' %}#it-print"></use>
        </svg>Stampa ricerca
      </button>
    </div>
  </div>

  {% if user.is_superuser %}
  <div class="col-10 shadow-lg white-bg">
    <div class="accordion p-3 accordion-background-active" id="accordionExampleHa">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">Dettaglio interrogazione</button></h2>
        <div id="collapse" class="accordion-collapse collapse" data-bs-parent="#accordionExampleHa" role="region" aria-labelledby="heading">
          <div class="accordion-body">
            <div class="link-list-wrapper">
              <pre id="json-display"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% else %}
  <div class="col-6">
    <h4>Utente non abilitato</h4>
    <p>L'utente non è abilitato all'utilizzo di questo servizio</p>
    <p>Per maggiori informazioni contatti l'amministratore del portale</p>
    <div class="p-3 text-end">
      <a href="{% url 'home' %}" class="btn btn-danger">Torna indietro</a>
    </div>
  </div>
  {% endif %}
  {% else %}
  <h4>Utente non loggato</h4>
  <p>Per poter effettuare le consultazioni alle banche dati, devi loggarti al portale</p>
  <a href="{% url 'login' %}" class="btn btn-primary">
    <svg class="icon icon-sm icon-white" aria-hidden="true">
      <use href="{% static 'svg/sprites.svg' %}#it-user"></use>
    </svg>Accedi
  </a>
  {% endif %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const errorMessage = '<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Attenzione</strong> Il campo "Codice Fiscale" è da controllare.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi avviso">'
      const errorWrapper = document.querySelector('#errorMsgContainer')
      const validate = new bootstrap.FormValidate('#inad_singola', {
        errorFieldCssClass: 'is-invalid',
        errorLabelCssClass: 'form-feedback',
        errorLabelStyle: '',
        focusInvalidField: false
      })
      validate
      .addField('#input_CF', [
      {
        rule: 'required',
        errorMessage: 'Questo campo è richiesto'
      },
      {
        rule: 'minLength',
        value: 16,
        errorMessage: 'Il C.F. deve avere 16 caratteri'
      },
      {
        rule: 'maxLength',
        value: 16,
        errorMessage: 'Il C.F. deve avere 16 caratteri'
      },
      {
        rule: 'customRegexp',
        value: '^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$',
        errorMessage: 'Il C.F. è scritto correttamente'
      }
      ])
      .onSuccess(() => {
        document.forms['inad_singola'].submit()
      })
      .onFail((fields) => {
        errorWrapper.innerHTML = ''
        errorWrapper.innerHTML = errorMessage
      })
    })

    document.addEventListener('DOMContentLoaded', function () {
      const printButton = document.getElementById('printButton')

      printButton.addEventListener('click', function () {
        const user = '{{ user.username }}'
        const pageTitle = document.title
        const currentDate = new Date()
        const formattedDate = currentDate.toLocaleDateString('it-IT', { day: '2-digit', month: '2-digit', year: 'numeric' })
        const formattedTime = currentDate.toLocaleTimeString('it-IT', { hour: '2-digit', minute: '2-digit' })

        const printWindow = window.open('', '', 'height=600,width=800')

        let printContent = '<html><head><title>Ricerca ANIST Frequenze singola</title>'
        printContent += '<style>'
        printContent += '.card { border: 1px solid black; margin-bottom: 20px; padding: 10px; }'
        printContent += 'body { font-family: Arial, sans-serif; }'
        printContent += '.header { margin-bottom: 20px; }'
        printContent += '.header h3 { margin: 0; text-decoration: underline; }'
        printContent += '.header p { margin: 0; }'
        printContent += 'hr { border: none; border-top: 1px solid black; margin: 10px 0; }'
        printContent += '</style>'
        printContent += '</head><body>'

        printContent += '<div class="header">'
        printContent += `<h3>${pageTitle}</h3>`
        printContent += `<p>Richiesta effettuata da: <b>${user}</b></p>`
        printContent += `<p>Data: <b>${formattedDate}</b> Ora: <b>${formattedTime}</b></p>`
        printContent += '<hr>'
        printContent += '</div>'

        const cardWrappers = document.querySelectorAll('.card')

        cardWrappers.forEach((wrapper) => {
          const cardClone = wrapper.cloneNode(true) // Cloniamo il contenuto della card
          const topIcon = cardClone.querySelector('.top-icon') // Selezioniamo la classe da rimuovere
          if (topIcon) {
            topIcon.remove() // Rimuoviamo l'elemento con la classe "top-icon"
          }
          printContent += cardClone.outerHTML // Aggiungiamo il contenuto modificato alla finestra di stampa
        })

        printContent += '</body></html>'

        printWindow.document.write(printContent)
        printWindow.document.close()
        printWindow.focus()
        printWindow.print()
        printWindow.close()
      })
    })

    document.addEventListener('DOMContentLoaded', function () {
      let codiceFiscale = `{{ data.0|safe }}`.trim()
      let rawData1 = `{{ data.1|safe }}`
      let validJsonString1 = rawData1.replace(/'/g, '"')
      validJsonString1 = validJsonString1.replace(/\bTrue\b/g, 'true').replace(/\bFalse\b/g, 'false')
      try {
        let jsonData1 = JSON.parse(validJsonString1)
        let finalJson = [codiceFiscale, jsonData1]
        document.getElementById('json-display').textContent = JSON.stringify(finalJson, null, 4)
      } catch (error) {
        console.error('Errore nel parsing del JSON:', error)
        document.getElementById('json-display').textContent = 'Errore nel parsing del JSON.'
      }
    })
  </script>
  {% endblock %}
