<!-- templates/base.html -->
{% extends 'base.html' %}

{% load static %}

{% block page_title %}
MIT - Lista Veicoli Cude - OpenMSP - Multi Services Portal
{% endblock %}

{% block centered_container %}
<h3>MIT - Ministero delle infrastrutture e dei trasporti</h3>
<h4>Lista Veicoli Cude</h4>
<br />
{% if user.is_authenticated %}
{% if utente_abilitato %}

<div class="col-10 shadow-lg white-bg p-4">
  <div class="row col-8">
    <form class="needs-validation" id="mit_lista_veicoli_cude" method="post">
      {% csrf_token %}
      <div class="form-group col-3">
        <label for="input_CF">Inserisci il Codice Fiscale</label>
        <input type="text" class="form-control" id="input_CF" name="input_CF" maxlength="16" oninput="this.value = this.value.toUpperCase();" required />
      </div>
      <div class="col-3">
        <button class="btn btn-primary" type="submit">
          <svg class="icon icon-sm icon-white" aria-hidden="true">
            <use href="{% static 'svg/sprites.svg' %}#it-search"></use>
          </svg>Avvia ricerca
        </button>
      </div>
    </form>
    <div class="row">
      <div class="col-3">
        <div aria-live="polite" id="errorMsgContainer"></div>
      </div>
    </div>
  </div>

  {% if data %}
  <div class="col-4">
    <div class="card card-bg shadow">
      <div class="card-body">
        <div class="top-icon">
          {% if 'Codice fiscale non corretto' in data.1 %}
          <svg class="icon icon-xl icon-danger bg-light">
            <use href="{% static 'svg/sprites.svg' %}#it-close-big"></use>
          </svg>
          {% else %}
          <svg class="icon icon-xl icon-success bg-light">
            <use href="{% static 'svg/sprites.svg' %}#it-check"></use>
          </svg>
          {% endif %}
        </div>
        {% if 'Codice fiscale non corretto' in data.1 %}
        <h3 class="card-title h5">Patenti di <b>{{ data.0 }}</b></h3>
        <p class="it-card-text">
          <b> {{data.1}} </b>
        </p>
        {% else %}
        {% with soggetto=data.1.listaSoggetti.datiSoggetto.0 %}
        <h3 class="card-title h5">Patenti di <b>{{ data.0 }}</b></h3>
        <p class="it-card-text">
          Cognome: <b>{{ soggetto.generalita.cognome }}</b><br>
          Nome: <b>{{ soggetto.generalita.nome }}</b><br>
          Sesso: <b>{{ soggetto.generalita.sesso }}</b><br>
          Data Nascita: <b>{{ soggetto.generalita.dataNascita }}</b><br>
          {% if soggetto.generalita.luogoNascita.comune != null %}
          Luogo nascita: <b>{{ soggetto.generalita.luogoNascita.comune.nomeComune }} ({{ soggetto.generalita.luogoNascita.comune.siglaProvinciaIstat }})</b><br>
          {% endif %}
          {% if soggetto.generalita.luogoNascita.localita != null %}
          Luogo nascita: <b>{{ soggetto.generalita.luogoNascita.localita.descrizioneLocalita }} ({{ soggetto.generalita.luogoNascita.localita.descrizioneStato }})</b><br>
          {% endif %}
          idANPR: <b>{{ soggetto.identificativi.idANPR }}</b><br>
          ID scheda ANPR: <b>{{ soggetto.generalita.idSchedaSoggettoANPR }}</b><br>
          {% if soggetto.infoSoggettoEnte.0.valoreData %}
          Data decesso: <b>{{ soggetto.infoSoggettoEnte.0.valoreData }}</b><br>
          {% endif %}
        </p>
        {% endwith %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% else %}
<div class="col-6">
  <h4>Utente non abilitato</h4>
  <p>L'utente non è abilitato all'utilizzo di questo servizio</p>
  <p>Per maggiori informazioni contatti l'amministratore del portale</p>
  <div class="p-3 text-end">
    <a href="{% url 'home' %}" class="btn btn-danger">Torna indietro</a>
  </div></div>
  {% endif %}

  {% else %}
  <h4>Utente non loggato</h4>
  <p>Per poter effettuare le consultazioni alle banche dati, devi loggarti al portale</p>
  <a href="{% url 'login' %}" class="btn btn-primary">
    <svg class="icon icon-sm icon-white" aria-hidden="true">
      <use href="{% static 'svg/sprites.svg' %}#it-user"></use>
    </svg>Accedi
  </a>
  {% endif %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const errorMessage = '<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Attenzione</strong> Il campo "Codice Fiscale" è da controllare.<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Chiudi avviso">'
      const errorWrapper = document.querySelector('#errorMsgContainer')
      const validate = new bootstrap.FormValidate('#mit_lista_veicoli_cude', {
        errorFieldCssClass: 'is-invalid',
        errorLabelCssClass: 'form-feedback',
        errorLabelStyle: '',
        focusInvalidField: false
      })
      validate
      .addField('#input_CF', [
      {
        rule: 'required',
        errorMessage: 'Questo campo è richiesto'
      },
      {
        rule: 'minLength',
        value: 16,
        errorMessage: 'Il C.F. deve avere 16 caratteri'
      },
      {
        rule: 'maxLength',
        value: 16,
        errorMessage: 'Il C.F. deve avere 16 caratteri'
      },
      {
        rule: 'customRegexp',
        value: '^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$',
        errorMessage: 'Il C.F. è scritto correttamente'
      }
      ])
      .onSuccess(() => {
        document.forms['mit_lista_veicoli_cude'].submit()
      })
      .onFail((fields) => {
        errorWrapper.innerHTML = ''
        errorWrapper.innerHTML = errorMessage
      })
    })
  </script>
  {% endblock %}
